:root {
  --bmo-teal: #31B9B6;
  --bmo-teal-light: #5BCEFA;
  --bmo-teal-dark: #047877;
  --bmo-face: #91D2CE;
  --bmo-screen: #F5F0E8;
  --bmo-red: #E76F51;
  --bmo-blue: #4CC9F0;
  --bmo-yellow: #FFD166;
}

body {
  font-family: 'Jersey 10', sans-serif;
}
